@media screen and (min-width: 360px) and (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Instrument Sans', sans-serif;
    }

    section#desktop {
        display: none;
    }

    section#sec2 {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #semmargembot {
        margin-bottom: 0;
    }

    div#carrloop {
        margin: 50px auto;
        width: 100%;
        display: flex;
        gap: 1em;
        overflow-x: hidden;
    }

    div#carrloop::-webkit-scrollbar {
        display: none;
    }

    div.grupo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        animation: spin 7s infinite linear;
        gap: 1em;
    }

    div#carrloop img {
        gap: 1em;
        border-radius: 14px;
        border: 1px solid black;
    }

    @keyframes spin {
        from {translate: 0;}
        to {translate: -100%;}
    }

    .container {
        width: 100%;
    }

    .carrossel {
        display: flex;
        gap: 1.2em;
        overflow-x: auto;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .carrossel::scroll-button(left), .carrossel::scroll-button(right) {
        margin-top: 15px;
        content: '';
        border: none;
        background-color: #0086FF;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .carrossel::scroll-button(left) {
        translate: 180px;
    }

    .carrossel::scroll-button(right) {
        translate: 185px;
    }

    .carrossel::scroll-button(right):disabled, .carrossel::scroll-button(left):disabled {
        opacity: 0.35;
        cursor: auto;
        background-color: #0084FF;
    }

    .boxcarrossel {
        padding: 0 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 30px;
        width: 88%;
        height: 18%;
        margin-bottom: 30px;
    }

    p.pcursos {
        font-size: 26px;
        margin: 10px;
    }

    a.acursos {
        align-content: center;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
        background-color: #FFA500;
        width: 50%;
        height: 82%;
        border-radius: 30px;
    }

    .cardcursobr, .cardcursoale, .cardcursochi, .cardcursoeua, .cardcursorus, .cardcursoita, .cardcursojap, .cardcursoesp {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex: 0 0 20em;
        border-radius: 20px;
        height: 20em;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 2%;
        scroll-snap-align: center;
    }

    .cardcursobr {
        background-image: url(Imagens/imgbr.png);
    }
    
    .cardcursoale {
        background-image: url(Imagens/imgale.png);
    }
    
    .cardcursochi {
        background-image: url(Imagens/imgchi.png);
    }
    
    .cardcursoeua {
        background-image: url(Imagens/imgeua.png);
    }
    
    .cardcursorus {
        background-image: url(Imagens/imgrus.png);
    }
    
    .cardcursoita {
        background-image: url(Imagens/imgita.png);
    }
    
    .cardcursojap {
        background-image: url(Imagens/imgjap.png);
    }
    
    .cardcursoesp {
        background-image: url(Imagens/imgesp.png);
    }
}