@media screen and (min-width: 769px) {
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    #mobile{
        display: none;
    }

    #alinmt-margin-cursos{
        max-width: 90%;
        margin: auto;
    }
    .cmc-topico-cursos{
        margin-top: 200px;
        margin-bottom: 200px; /*remover bottom apos colocar o carrossel altomatico das bandeiras*/
        text-align: center;
    }
    #confg-h1-cursos{
        color: #1B467D;
        font-size: 64px;
    }
    #confg-paragf-cursos{
        font-weight: 600;
        font-size: 32px;
    }

    .contnr-cursos{
        display: flex;
        width: 5440px; /*Calculo de 8 x 680*/
    }

    .confg-h2-cursos{
        font-family: 'Instrument Sans', sans-serif;
        font-size: 36px;
        
    }
    .img-pais-Brasil{
        background-image: url(Imagens/Img-paises-Brasil.png);
        background-repeat: no-repeat;
        height: 486px;
        width: 680px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-radius: 20px;
    }
    .box-intrn-cursos{
        display: flex;
        background-color: rgba(217, 217, 217, 80%);
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin-bottom: 20px;
        border-radius: 30px;
        height: 20%;
    }
    .text-intrno-cursos{
        flex-direction: column;
        
    }
    .btao-img-cursos{
        background-color: #FFA500;
        text-decoration: none;
        font-family: 'Instrument Sans', sans-serif;
        text-align: center;
        width: 30%;
        padding: 3% 1%;
        border-radius: 50px;
        color: black;
        font-size: 20px;
        font-weight: 600;
    }



    .img-pais-Alemanha{
        background-image: url(Imagens/Img-paises-Alemanha.png);
        background-repeat: no-repeat;
        height: 486px;
        width: 680px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-radius: 20px;
    }
    .img-pais-China{
        background-image: url(Imagens/Img-paises-China.png);
        background-repeat: no-repeat;
        height: 486px;
        width: 680px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-radius: 20px;
    }
    .img-pais-StdsUnidos{
        background-image: url(Imagens/Img-paises-StdsUnidos.png);
        background-repeat: no-repeat;
        height: 486px;
        width: 680px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-radius: 20px;
    }
    .img-pais-Russia{
        background-image: url(Imagens/Img-paises-Russia.png);
        background-repeat: no-repeat;
        height: 486px;
        width: 680px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-radius: 20px;
    }
    .img-pais-Italia{
        background-image: url(Imagens/Img-paises-Italia.png);
        background-repeat: no-repeat;
        height: 486px;
        width: 680px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-radius: 20px;
    }
    .img-pais-Japao{
        background-image: url(Imagens/Img-paises-Japao.png);
        background-repeat: no-repeat;
        height: 486px;
        width: 680px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-radius: 20px;
    }
    .img-pais-Espanha{
        background-image: url(Imagens/Img-paises-Espanha.png);
        background-repeat: no-repeat;
        height: 486px;
        width: 680px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-radius: 20px;
    }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Instrument Sans', sans-serif;
    }

    section#desktop {
        display: none;
    }

    section#sec2 {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #semmargembot {
        margin-bottom: 0;
    }

    div#carrloop {
        margin: 50px auto;
        width: 100%;
        display: flex;
        overflow-x: hidden;
    }

    div#carrloop::-webkit-scrollbar {
        display: none;
    }

    div.grupo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        animation: spin 8s infinite linear;
        gap: 1em;
        padding: 0 .5em;
    }

    div#carrloop img {
        gap: 1em;
        border-radius: 14px;
        border: 1px solid black;
    }

    @keyframes spin {
        from {translate: 0;}
        to {translate: -100%;}
    }

    .container {
        width: 100%;
    }

    .carrossel {
        display: flex;
        gap: 1.2em;
        overflow-x: auto;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-marker-group: after;
    }

    .carrossel::scroll-marker-group {
        display: flex;
        justify-content: center;
        gap: .5em;
    }

    .cardcursobr::scroll-marker, .cardcursoale::scroll-marker, .cardcursochi::scroll-marker, .cardcursoeua::scroll-marker, .cardcursorus::scroll-marker, .cardcursoita::scroll-marker, .cardcursojap::scroll-marker, .cardcursoesp::scroll-marker {
        content: '';
        height: 1em;
        width: 1em;
        background-color: rgba(0, 132, 255, 0.35);
        border-radius: 50%;
        margin-top: 12px;
    }

    .cardcursobr::scroll-marker:target-current, .cardcursoale::scroll-marker:target-current, .cardcursochi::scroll-marker:target-current, .cardcursoeua::scroll-marker:target-current, .cardcursorus::scroll-marker:target-current, .cardcursoita::scroll-marker:target-current, .cardcursojap::scroll-marker:target-current, .cardcursoesp::scroll-marker:target-current {
        background-color: rgb(0, 132, 255);
    }

    .boxcarrossel {
        padding: 0 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 30px;
        width: 88%;
        height: 18%;
        margin-bottom: 30px;
    }

    p.pcursos {
        font-size: 26px;
        margin: 10px;
    }

    a.acursos {
        align-content: center;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
        background-color: #FFA500;
        width: 50%;
        height: 82%;
        border-radius: 30px;
    }

    .cardcursobr, .cardcursoale, .cardcursochi, .cardcursoeua, .cardcursorus, .cardcursoita, .cardcursojap, .cardcursoesp {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex: 0 0 20em;
        border-radius: 20px;
        height: 20em;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 2%;
        scroll-snap-align: center;
    }

    .cardcursobr {
        background-image: url(Imagens/imgbr.png);
    }
    
    .cardcursoale {
        background-image: url(Imagens/imgale.png);
    }
    
    .cardcursochi {
        background-image: url(Imagens/imgchi.png);
    }
    
    .cardcursoeua {
        background-image: url(Imagens/imgeua.png);
    }
    
    .cardcursorus {
        background-image: url(Imagens/imgrus.png);
    }
    
    .cardcursoita {
        background-image: url(Imagens/imgita.png);
    }
    
    .cardcursojap {
        background-image: url(Imagens/imgjap.png);
    }
    
    .cardcursoesp {
        background-image: url(Imagens/imgesp.png);
    }
}