@media screen and (min-width: 769px) and (max-width: 2000px) {
* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    #mobile{
        display: none;
    }
    #alinmt-margin-depoimentos{
        max-width: 90%;
        margin: auto;
    }
    .cmc-topico-dpoimnts{
        margin-top: 200px;
        margin-bottom: 100px; /*remover bottom apos colocar o carrossel altomatico das bandeiras*/
        text-align: center;
    }
    #confg-h1-dpoimnts{
        color: #1B467D;
        font-size: 64px;
    }
    .cntnr-alinmt-depoimentos{
        display: flex;
        gap: 40px;
        justify-content: center;
    }
    .tmnho-foto{
        max-width: 115px;
    }
    .card-depoimentos{
        width: 450px;
        height: 400px;
        background-color: #D0E5FF;
        border: 1px solid black;
        border-radius: 0 20px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        text-align: center;
        
    }
    .item-ft-dpoimt{
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .nome-depoimnts{
        background-color: #F5F5F5;
        font-size: 32px;
        text-align: center;
        padding: 5% 0%;
        font-family: 'Instrument Sans', sans-serif;
        border-radius: 0 0 0 20px;
        

    }
    .card-fala-dpmt{
        margin-top: 20px;
        background-color: white;
        margin-bottom: 20px;
        width: 70%;
        height: 80%;
        font-size: 20px;
        font-family: 'Instrument Sans', sans-serif;
        padding: 2%;
        border-radius: 20px 0px;

    }
    #estrelas-dpmnts{
        margin-top: 20px;
    }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Instrument Sans', sans-serif;
    }

    section#desktop {
        display: none;
    }

    section#sec5 {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    section#sec5 > h1 {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 28px;
    }

    /* div#containersec5 {
        width: 100%;
    } */

    div.carrsec5 {
        display: flex;
        gap: 1.2em;
        overflow: auto;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
    }

    div.card {
        background-color: #D0E5FF;
        border: 1px solid black;
        border-radius: 0 20px;
        /* margin: auto; */
        height: 300px;
        display: flex;
        flex: 0 0 280px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        scroll-snap-align: center;
        margin: 0 2%;
    }

    div#boxsec5 {
        background-color: #fff;
        border-radius: 20px 0;
        width: 86%;
        height: 30%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    div.card > img {
        margin-top: 25px;
    }

    div#boxsec5 p {
        text-align: center;
        font-weight: bold;
        font-size: 15px;
    }

    div#nomesec5 {
        background-color: #F5F5F5;
        border-radius: 0 0 0 20px;
        width: 100%;
        height: 20%;
        text-align: center;
        align-content: center;
        font-size: 24px;
    }

}