@media screen and (min-width: 769px) and (max-width: 2000px) {

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    #mobile{
        display: block;
    }
    #alinmt-margin-footer{
        max-width: 70%;
        margin: auto;
        color: white; /*Cor dos items do Footer geral!*/
        font-family: 'Instrument Sans', sans-serif;
    } 
    footer{
        background-color: #93BCE3;
        width: 100%;
        padding: 100px 0px;
        
    }
    .text-footer-motvc{
        font-size: 20px;
        width: 50%;
        font-family: 'Instrument Sans', sans-serif;
        font-weight: 400;
        align-content: center;
    }
    .contnr-topo-footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        
        
    }
    .contr-alimnt-descFooter{
        display: flex;
        gap: 50px;
        
    }
    .titlo-footer{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .seprc-footer{
    font-size: 16px;
    flex-direction: column;
        
    }
    .espço-link{
        
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .espço-link a{
        text-decoration: none;
        color: white;
    }
    .alinmt-coopy-img-footer{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    #copyrigt{
        font-size: 16px;
        margin-bottom: 12px;
        
    }
    #text-img-footer{
        text-align: center; 
    }
    #text-img-footer img{
        margin: 12px;
        margin-bottom: 0px;
        max-width: 50px;
    }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Instrument Sans', sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

    section#desktop {
        display: none;
    }

    footer {
        background-color: #93BCE3;
        color: white;
        padding: 10px;
        padding-top: 30px;
    }

    footer h1 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    div#footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        align-content: center;
        margin: 20px auto;
    }

    div#icons {
        display: flex;
        justify-content: space-evenly;
        margin: 20px auto;
    }

    footer p {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }

    footer div#afoot1, footer div#afoot2, footer div#afoot3 {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    footer a.texto {
        text-decoration: none;
        color: white;
        margin: 6px 0;
        font-size: 20px;
    }
}