@media screen and (min-width: 360px) and (max-width: 768px) {
    section#desktop {
        display: none;
    }

    div#ancbas {
        padding: 24px;
    }

    section#corpo {
        height: 100%;
        background: linear-gradient(to bottom, #FFFFFF 0%, #B5F4FB 6%, #AFEFF6 20%, #183336 94%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #bas h1, #int h1, #ava h1 {
        margin-top: 4%;
        margin-bottom: 10%;
        font-size: 50px;
    }

    #bas {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 100px;
    }

    #bas p.ps {
        width: 80%;
    }

    #int {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 100px;
    }

    #int h1 {
        color: white;
    }

    #int p.ps {
        width: 80%;
        color: white;
    }

    #ava {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 100px;
    }

    #ava h1 {
        color: white;
    }

    #ava p.ps {
        width: 80%;
        color: white;
    }

    .prof {
        border: 1px solid rgba(0, 0, 0, 0.6);
        border-radius: 20px;
        background-color: #D9D9D9;
        padding: 2px 10px;
        opacity: 86%;
        font-weight: bold;
    }

    #corpo a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 18px;
        background-color: #FFA500;
        width: 160px;
        height: 54px;
        border-radius: 40px;
        text-align: center;
        align-content: center;
    }

    div#teste {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        width: 90%;
        height: 100%;
        font-size: 18px;
        margin-bottom: 30px;
    }

    div#teste p {
        margin-bottom: 20px;
    }

}