@charset "UTF-8";
@media screen and (min-width: 769px) and (max-width: 2000px){
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Instrument Sans', sans-serif;
}
#mobile{
    display: none;
}
html{
    scroll-behavior: smooth;
}
.alinmt-margin{
    max-width: 70%;
    margin: auto;
}

#img-menu{
    width: 220px;

}

.menu-fxo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
    box-shadow: 0px 3px 2px darkgray;
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: white;
}
.menu-falso{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
    box-shadow: 0px 3px 2px darkgray;
}

.links-menu{
    font-size: 30px;
    width: 35%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.link-menu{
    text-decoration: none;
    font-family: 'Instrument Sans', sans-serif;
    color: #1B467D;
    font-weight: 600;
  
}
#img-mulher-tmnh {
    width: 300px;
    
}

#title-PrimrPasso{
    color: #1B467D;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 60px;

}

.cor-azul-destq{
    color: #0086FF;
}
#modfc-img-topo-PrmPass{
    display: flex;
    justify-content: center;
}

.Topo-color {
        background: linear-gradient(to top, #ffffff 0%, #E1EEFA 30%, #A0CBF2 90%);
        height: 300px;
        border-radius: 200px 200px 0px 0px;
        width: 50%;
        margin: auto;
        margin-bottom: 150px;
}

#Segnd-title-PrimrPasso {
    color: #1B467D;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}
  #img-notfc {
        height: 200px;
        border-radius: 100px 100px 0;
}

.alinmt-img-text-PrimPss{
    
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
 #Text-notifc{
        font-size: 20px;
        width: 35%;
        text-align: center;
}






/*<-------FOOTER------------->*/





#alinmt-margin-footer{
    max-width: 70%;
    margin: auto;
    color: white; /*Cor dos items do Footer geral!*/
    font-family: 'Instrument Sans', sans-serif;
} 
footer{
    background-color: #93BCE3;
    width: 100%;
    padding: 100px 0px;
    
}
.text-footer-motvc{
    font-size: 20px;
    width: 50%;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 400;
    align-content: center;
}
.contnr-topo-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
    
}
.contr-alimnt-descFooter{
    display: flex;
    gap: 50px;
    
}
.titlo-footer{
    font-size: 24px;
    margin-bottom: 10px;
}
.seprc-footer{
  font-size: 16px;
  flex-direction: column;
    
}
.espço-link{
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.espço-link a{
    text-decoration: none;
    color: white;
}
.alinmt-coopy-img-footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#copyrigt{
    font-size: 16px;
    margin-bottom: 12px;
    
}
#text-img-footer{
    text-align: center; 
}
#text-img-footer img{
    margin: 12px;
    margin-bottom: 0px;
    max-width: 50px;
}
}